In [1]:
import torch
import pandas as pd
import torch.nn as nn
import numpy as np

from Models.model import NeuralNet
from Utils.utils_Dataset import process_dataset, OneHotDataframe

from validation import validate
from Utils.utils import TranslationDataset, make_loader
from sklearn.model_selection import StratifiedShuffleSplit

In these notebook we will show some qualitative results about or Translators Model.
We will follow this steps:
1. Loading all the necessary data and functions
2. Importing the models weights
3. Making predictions with the model

## Data preparation

In [2]:
#pkl_file = '/home/xnmaster/Language_GrauIAI_UAB.pkl' #Pickle file path
pkl_file = r"C:\Users\34644\Desktop\Second Semester\Synthesis Project\Language_GrauIAI_UAB.pkl"

# Obtain the dataset
Task_Data          = pd.read_pickle(pkl_file)               # Read the pkl file containg the pandas dataframe object
Dataset_process    = process_dataset(Task_Data)             # Obtain the preprocess Dataset
One_hot_Dataframe  = OneHotDataframe(Dataset_process)       # Changed categorical columns using one hot vectors
num_classes = len(One_hot_Dataframe["TRANSLATOR"].unique()) # Number of translators
input_size  = len(One_hot_Dataframe.columns) - 1

In [3]:
model = NeuralNet(input_size, num_classes)

In [4]:
weights = torch.load(r'C:\Users\34644\Desktop\Second Semester\Synthesis Project\Code_Project\CheckPoints\256_Batch_Size_30_epocs.pth', map_location="cpu")
model.load_state_dict(weights)

In [5]:
X                  = One_hot_Dataframe.loc[:, One_hot_Dataframe.columns != 'TRANSLATOR'] # Features
Translators        = One_hot_Dataframe['TRANSLATOR']   

Splits_Train_Test  = StratifiedShuffleSplit(n_splits=3, test_size=0.3, random_state=42)
Train_Test_indices = Splits_Train_Test.split(X, Translators)

train_indices, test_indices = next(Train_Test_indices)

Dataset = TranslationDataset(One_hot_Dataframe, X.values, test_indices)
DataLoader = make_loader(Dataset, 64, shuffle=False)

In [ ]:
# Validation of the model. Needed of gpu to check it.
# criterion = torch.nn.CrossEntropyLoss() # https://pytorch.org/docs/stable/generated/torch.nn.CrossEntropyLoss.html#torch.nn.CrossEntropyLoss
# validate(criterion, model, DataLoader, device = 'cuda')

Test set: Average loss: 0.0059, Accuracy: 56283/63485 (89%)

(0.005912481310931474, 88.65558793415768)

## Making Predictions

In [ ]:
def obtain_input_vector(X, 
                        PM,
                        TASK_TYPE, 
                        SOURCE_LANG, 
                        TARGET_LANG, 
                        FORECAST, 
                        HOURLY_RATE,
                        COST, 
                        QUALITY_EVALUATION, 
                        MANUFACTURER, 
                        MANUFACTURER_SECTOR):
    
    new_row = pd.Series(np.zeros(len(X.columns)), index=X.columns)

    new_row['FORECAST'], new_row['HOURLY_RATE'], new_row['QUALITY_EVALUATION'], new_row['COST'] = FORECAST, HOURLY_RATE, QUALITY_EVALUATION, COST

    new_row['PM_' + PM]                                 = 1           
    new_row['TASK_TYPE_' + TASK_TYPE]                   = 1
    new_row['SOURCE_LANG_' + SOURCE_LANG]               = 1
    new_row['TARGET_LANG_' + TARGET_LANG]               = 1
    new_row['MANUFACTURER_'+ MANUFACTURER]              = 1
    new_row['MANUFACTURER_SECTOR_'+MANUFACTURER_SECTOR] = 1

    return torch.tensor(new_row.values, dtype=torch.float32)

In [ ]:
new_row = obtain_input_vector(One_hot_Dataframe.loc[:, One_hot_Dataframe.columns != 'TRANSLATOR'],
                    PM = "PMT",
                    TASK_TYPE = "ProofReading", 
                    SOURCE_LANG = "English", 
                    TARGET_LANG = "Spanish (Iberian)", 
                    FORECAST = 0.28,
                    HOURLY_RATE = 23,
                    COST = 6.44,
                    QUALITY_EVALUATION = 6, 
                    MANUFACTURER = 'MotorForge', 
                    MANUFACTURER_SECTOR = 'Consumer Discretionary')

In [ ]:
def return_top_10(input, num):
    Softmax = nn.Softmax(dim=1)
    output = model(input)
    output_softmax = Softmax(output.unsqueeze(0))
    sorted_values, sorted_indices = torch.sort(output_softmax, descending=True)
    sorted_values, sorted_indices = sorted_values[0][:num], sorted_indices[0][:num]
    mapped_list_comprehension = [(Dataset.Labels2Translator[int(num)], round(float(values), 2)) for num, values in zip(sorted_indices, sorted_values)]

    return pd.DataFrame(mapped_list_comprehension, columns=['Translator', 'Suitability'])

return_top_10(new_row.to('cuda'), 10)

    Translator  Suitability
0    Christian         0.54
1        Enith         0.26
2       Maximo         0.14
3    Margarita         0.02
4    Fortunato         0.01
5        Paula         0.01
6     Abelardo         0.01
7      Rafaela         0.00
8  Luis Felipe         0.00
9     Porfirio         0.00

## Metric evaluation

In [ ]:
model = model.to('cuda')
y_true = []
y_pred = []

model.eval()
for data, label in DataLoader:
    data, label = data.to('cuda'), label.to('cuda')

    output = model(data)                                                         
    pred = output.data.max(1, keepdim=True)[1] # get the index of the max log-probability
    y_true.append(label.tolist())
    y_pred.append(pred.squeeze().tolist())

In [ ]:
y_true = [[Dataset.Labels2Translator[int(translator_idx)] for translator_idx in list_true] for list_true in y_true]
y_pred = [[Dataset.Labels2Translator[int(translator_idx)] for translator_idx in list_pred] for list_pred in y_pred]

In [ ]:
from sklearn.preprocessing import LabelBinarizer
from itertools import chain
from sklearn.metrics import classification_report, confusion_matrix


def bio_classification_report(y_true, y_pred):
    """

    Classification report.
    You can use this as evaluation for both in the baseline model and new model.
    """
    lb = LabelBinarizer()
    y_true_combined = lb.fit_transform(list(chain.from_iterable(y_true)))
    y_pred_combined = lb.transform(list(chain.from_iterable(y_pred)))
        
    tagset = set(lb.classes_) - {'O'}
    tagset = sorted(tagset, key=lambda tag: tag.split('-', 1)[::-1])
    class_indices = {cls: idx for idx, cls in enumerate(lb.classes_)}
    
    return classification_report(
        y_true_combined,
        y_pred_combined,
        labels = [class_indices[cls] for cls in tagset],
        target_names = tagset,
    )

In [ ]:
TRANSLATORS = bio_classification_report(y_true, y_pred)
print('Translators evaluation')
print(TRANSLATORS)

Translators evaluation
                     precision    recall  f1-score   support

           Abelardo       0.92      0.89      0.90       999
      Acacio Poncio       0.98      0.98      0.98      1730
 Adalberto Anatolio       0.87      0.97      0.92      3078
             Agueda       0.99      0.96      0.98      2860
          Alejandro       0.81      0.87      0.84       982
              Aline       1.00      0.99      1.00      1904
    Almudena Fiamma       0.99      0.97      0.98      1717
              Amaro       0.79      0.74      0.76      1273
      Ambrosia Adon       0.64      0.98      0.77      3432
        Ana Daniela       0.91      0.90      0.90       497
    Anselma Daciano       0.74      0.84      0.79      1592
    Ariadna Laurina       0.92      0.86      0.89      2829
    Artur Fulgencio       0.00      0.00      0.00      2880
          Ascension       0.96      0.99      0.98      7438
            Beatriz       0.99      0.71      0.82       605
             Breixo       1.00      0.98      0.99      1904
             Carles       0.45      0.03      0.06      1096
            Casiano       0.75      0.98      0.85      9067
              Celso       0.98      0.88      0.92      2565
             Celton       0.96      0.97      0.97       808
          Christian       0.67      0.57      0.62       612
  Columbano Cleofas       0.95      0.87      0.91      3136
    Conchi Marciano       0.91      0.46      0.62       637
 Constantino Carmen       0.86      0.83      0.84      1277
         Dacio Abel       0.98      0.99      0.99      5382
     Daiana Rosario       0.95      0.98      0.97      7528
            Damiana       1.00      1.00      1.00      1757
              Dario       0.98      0.97      0.97      1498
      David Antonio       0.96      0.98      0.97       949
            Edmundo       0.98      0.98      0.98      1963
       Elias Daiana       0.94      0.96      0.95      1120
             Eliseo       0.98      0.99      0.98      2224
              Enith       0.61      0.71      0.65       716
              Erico       0.81      0.93      0.86      2034
              Ester       0.71      0.22      0.34      1597
          Fortunato       0.96      0.93      0.95      1172
     Francisco Jose       0.80      0.62      0.70       564
               Gala       0.99      1.00      0.99     12621
              Gorka       0.98      0.97      0.98       876
    Gregorio Monica       0.63      0.22      0.32       970
      Greta Casiano       0.68      0.97      0.80      1213
Guadalupe Ildefonso       0.83      0.58      0.68       609
              Guido       0.79      0.72      0.76       483
             Hector       1.00      1.00      1.00       611
 Ildefonso Ambrosio       0.97      0.95      0.96      1003
    Inocencio Lucas       0.94      0.97      0.96      3871
             Ireneo       0.79      0.89      0.84      2346
    Isaias Venancio       0.97      0.96      0.97     14556
              Ivana       0.84      0.90      0.87       840
         Jonas Tito       0.96      0.98      0.97      1197
       Jose Ignacio       0.41      0.04      0.08       742
        Juan Carlos       0.82      0.95      0.88      1835
    Juvenal Vicente       0.83      0.79      0.81      1649
              Killa       0.97      1.00      0.98      1430
   Laureano Facundo       0.92      0.90      0.91       844
     Laurina Rafael       0.91      0.84      0.87      1398
   Laurina Santiago       0.47      0.10      0.17       742
             Lucano       0.83      0.69      0.75       660
        Luis Felipe       0.96      0.95      0.96      3172
     Marcelo German       0.78      0.73      0.75      1022
             Marcos       0.97      0.98      0.98      2031
          Margarita       0.77      0.59      0.67       589
       Maria Aurora       0.58      0.72      0.64      1252
     Maria Fernanda       0.80      0.83      0.81      1557
      Mariano Fidel       0.66      0.95      0.78      2793
  Mariano Valeriano       0.95      0.93      0.94       742
             Markel       0.89      0.95      0.92      1333
             Maximo       0.95      0.98      0.96       825
  Mercedes Catalina       0.90      0.82      0.86       797
    Nieves Leocadia       0.93      0.97      0.95      2915
             Octavi       0.84      0.46      0.60       624
       Octavio Jana       0.83      0.68      0.74      1750
              Oscar       0.69      0.81      0.75      1124
      Otilia Rebeca       0.80      0.93      0.86      1315
       Pablo Martin       0.90      0.67      0.77       601
   Pancracio Adolfo       0.80      0.72      0.76       987
              Paula       0.81      0.94      0.87       890
  Petronila Teofila       0.89      0.89      0.89      3332
            Pio Pio       0.28      0.06      0.09       756
           Porfirio       0.70      0.97      0.81       675
           Priscila       0.93      0.84      0.88      2276
            Rafaela       0.97      0.98      0.98      1064
     Ramiro Josafat       0.84      0.89      0.87      2443
      Roque Marlene       0.91      0.94      0.92      1632
               Rufo       0.77      0.59      0.67       945
    Salma Benedicto       0.62      0.66      0.64       579
             Salome       0.67      0.91      0.77       765
               Sara       0.98      0.93      0.96       501
           Severino       0.95      0.72      0.82       932
            Sussana       0.96      0.92      0.94      1500
     Ubaldo Maitane       0.71      0.87      0.78       658
   Victorino Yamila       0.98      0.94      0.96      1684
           Vinicius       0.99      0.98      0.98      1927
              Xoana       0.89      0.96      0.93      8549

          micro avg       0.89      0.89      0.89    190455
          macro avg       0.84      0.81      0.81    190455
       weighted avg       0.87      0.89      0.87    190455
        samples avg       0.89      0.89      0.89    190455